<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h3 class="">
					<%= data.resultTitle %>
				</h3>
			</div>
			<div class="card-body">
				<%- data.resultContent %>
					<hr>
					<a href="/" class="btn btn-success float-right mr-2">Cancel</a>
			</div>
		</div>
	</div>
</div>